<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            color:blueviolet;
        }
    </style>
</head>
<body>
    <center> 
        <h1> i am sending data from front end to back end </h1>
        <h1> Hi, How are You Sandhya</h1>
        <h1>{{name}} age is {{age}}</h1>

    </center>
</body>
</html>